Montipora_capitata_HIv3.genes.gff3
Montipora_capitata_HIv3.genes_fixed.gff3
Montipora_capitata_HIv3.genes.EggNog_results.txt
Montipora_capitata_HIv3.genes.EggNog_results.txt.gz
Montipora_capitata_HIv3.genes.KEGG_results.txt.gz
Montipora_capitata_HIv3.genes.KEGG_results.txt
